.country-list-wrapper {
  line-height: 1.5;
  width: 100%;
  color: var(--grey-900);
  font-family: var(--font-family-tertiary);
  font-size: var(--font-size-m--font-family-tertiary);
  margin: $sp-7 auto;
  padding: 0 $sp-4;
  box-sizing: border-box;

  @include small-and-up {
    max-width: 540px;
  }

  @include medium-and-up {
    max-width: 720px;
  }

  @include large-and-up {
    max-width: 960px;
  }

  @include x-large-and-up {
    max-width: 1140px;
  }

  h2 {
    font-size: 22px;
    line-height: 1.5;
    margin: 0 0 $sp-6 0;
    text-align: center;
    font-weight: var(--font-weight-regular);
  }

  a {
    color: var(--grey-900);
    text-decoration: none;
    font-size: 17px;

    &:hover {
      text-decoration: underline;
    }
  }

  .countries_list {
    margin-top: $sp-3;
    padding: 0;

    @include medium-and-up {
      column-count: 2;
    }

    @include large-and-up {
      column-count: 3;
    }
  }

  .country-list-item {
    list-style: none;
    break-inside: avoid;

    .country-group-letter {
      font-family: var(--font-family-primary);
      margin: 0 0 $sp-1 0;
      font-size: var(--font-size-l--font-family-primary);
      line-height: var(--line-height-l--font-family-primary);
      font-weight: var(--font-weight-regular);
    }

    .countries_sublist {
      break-inside: avoid;
      padding: 0;
      margin: 0 $sp-1 $sp-1x 0;

      .countries_sublist-item {
        list-style: none;
        position: relative;
        break-inside: avoid;

        &:not(:last-child) {
          margin-bottom: $sp-1;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: $sp-4;
    }
  }
}
