header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: rgba(46, 67, 93, 0.4);

  div {
    align-self: center;
  }

  .page-header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: var(--header-height);

    .page-header-image {
      width: 100%;
      display: block;
      object-fit: cover;
      height: var(--header-height);
    }
  }

  .logo {
    width: 260px;

    @include small-and-up {
      width: 300px;
    }
  }

  .heading {
    color: var(--white);
    font-size: 32px;
    text-align: center;

    @include small-and-up {
      font-size: 48px;
      margin: 40px $sp-2;
    }
  }

  .cta {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    letter-spacing: 1px;

    @include medium-and-up {
      flex-direction: row;
    }

    .cta-btn {
      width: $btn-width;
      max-width: 85vw;
      padding: $sp-2;
      margin: 10px auto;
      box-shadow: 0 2px 5px rgba($grey-900, .25);
      line-height: inherit;
      font-weight: var(--font-weight-regular);
      background-color: var(--p4-action-yellow-500);
      color: var(--grey-900);

      &:visited {
        background-color: var(--p4-action-yellow-500);
      }

      &:active,
      &:hover {
        background-color: var(--p4-action-yellow-600);
      }

      @include medium-and-up {
        margin: 0 $sp-1x;
      }
    }

    .nro-name {
      white-space: nowrap;
    }

    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 240px;
      max-width: 72vw;
      display: inline-block;
      vertical-align: bottom;

      @media (min-width: 360px) {
        width: auto;
        max-width: 314px;
      }
    }

    .spacer {
      margin: 0 28px;
      font-family: var(--font-family-primary);
      font-size: 18px;
    }

    .hidden-tall {
      @media (min-height: 2000px) {
        display: none;
      }
    }
  }
}
