body {
  background-color: var(--white);
}

header {
  background: none;
  height: auto;

  .top-navigation {
    background: var(--white);
    height: 68px;

    .site-logo {
      position: relative;
      padding: 0 $sp-3;
      margin: auto 0;

      .logo {
        width: 160px;
        vertical-align: middle;
      }
    }
  }

  .page-header-background {
    position: relative;
    height: auto;
    margin-top: $sp-7;
    width: 100%;

    .page-header-image {
      height: 230px;
    }
  }
}

.cta-btn {
  background-color: var(--p4-action-yellow-500);
  color: var(--grey-900);

  &:visited {
    background-color: var(--p4-action-yellow-500);
    color: var(--grey-900);
  }

  &:active,
  &:hover {
    background-color: var(--p4-action-yellow-600);
    color: var(--grey-900);
  }
}

section {
  padding: $sp-3;
  color: var(--grey-900);
  box-sizing: border-box;

  h1 {
    margin: 0;
    font-size: $font-size-xxxl;
    letter-spacing: 2px;
  }

  h2 {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: 900;
    line-height: 1;
  }

  p {
    font-size: $font-size-xl;
    font-weight: 400;
    margin: $sp-1 0;
    line-height: 1;
  }

  .btn {
    margin-top: $sp-3;
  }
}

@include medium-and-up {
  header {
    .top-navigation .site-logo {
      text-align: left;
      padding: 0 $sp-7x;
    }

    .page-header-background {
      margin-top: 3.75rem;

      .page-header-image {
        height: 385px;
      }
    }
  }

  section {
    padding: $sp-5 $sp-7x;

    h1 {
      font-size: 90px;
    }

    .btn {
      margin-top: $sp-4;
    }
  }
}

@include large-and-up {
  header {
    height: 100vh;

    .page-header-background {
      min-height: 730px;
      height: 100%;

      .page-header-image {
        height: 100%;
      }
    }
  }

  section {
    position: absolute;
    top: 25%;
    color: var(--white);

    &.maintenance {
      color: var(--grey-900);
      opacity: 0.9;
    }

    h1 {
      font-size: 110px;
    }

    h2, p {
      font-size: 40px;
    }

    .btn {
      margin-top: $sp-5;
    }
  }
}
