html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: $roboto;
}

header {
  height: 100%;
  background: none;

  .top-navigation {
    background: white;
  }

  .page-header-background {
    height: 100%;

    .page-header-image {
      height: 100%;
    }
  }
}

