body {
  background-color: $white;
}

header {
  background: none;
  height: auto;

  .top-navigation {
    background: $white;
    height: 68px;

    .site-logo {
      position: relative;
      padding: 0 24px;
      margin: auto 0;

      .logo {
        width: 160px;
        vertical-align: middle;
      }
    }
  }

  .page-header-background {
    position: relative;
    height: auto;
    margin-top: 3.375rem;
    width: 100%;

    .page-header-image {
      height: 230px;
    }
  }
}

.btn-primary {
  background-color: rgb(255, 225, 0);
  color: black;

  &:visited {
    background-color: rgb(255, 225, 0);
    color: black;
  }

  &:active,
  &:hover {
    background-color: #fece00;
    color: black;
  }
}

section {
  padding: 24px;
  color: black;
  font-family: $roboto;
  box-sizing: border-box;

  h1 {
    margin: 0;
    font-size: $font-size-xxxl;
    letter-spacing: 2px;
  }

  h2 {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: 900;
    line-height: 1;
  }

  p {
    font-size: $font-size-xl;
    font-weight: 400;
    margin: 8px 0;
    line-height: 1;
  }

  .btn {
    margin-top: 24px;
  }
}

@include medium-and-up {
  header {
    .top-navigation .site-logo {
      text-align: left;
      padding: 0 60px;
    }

    .page-header-background {
      margin-top: 3.75rem;

      .page-header-image {
        height: 385px;
      }
    }
  }

  section {
    padding: 40px 60px;

    h1 {
      font-size: 90px;
    }

    .btn {
      margin-top: 32px;
    }
  }
}

@include large-and-up {
  header {
    height: 100vh;

    .page-header-background {
      min-height: 730px;
      height: 100%;

      .page-header-image {
        height: 100%;
      }
    }
  }

  section {
    position: absolute;
    top: 25%;
    color: white;

    &.maintenance {
      color: black;
      background-color: #f6f4ef;
      opacity: 0.9;
    }

    h1 {
      font-size: 110px;
    }

    h2, p {
      font-size: 40px;
    }

    .btn {
      margin-top: 40px;
    }
  }
}
